<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <h4 style="margin-left:15px;">HORSEMEN PROPERTY CONSULTS</h4>
  <div class="nav-links" style="margin-left: auto;">
    <a routerLink="/properties" class="nav-link-option" routerLinkActive="active-link">Properties</a>
    <a routerLink="/about" class="nav-link-option" routerLinkActive="active-link">About</a>
    <a routerLink="/owners" class="nav-link-option" routerLinkActive="active-link">Owners</a>
    <a routerLink="/contact" class="nav-link-option" routerLinkActive="active-link">Contact</a>
    <a routerLink="/login" class="nav-link-option" routerLinkActive="active-link">Login</a>
  </div>
</mat-toolbar>