<div>   
    <app-navbar-component></app-navbar-component> 
    <div class="body">
      <div class="card-container" *ngFor="let row of getRows(properties)">
        <mat-card class="card" *ngFor="let property of row">
          <img mat-card-image class="mat-image" src="/assets/images/flat1.jpg" alt="Image1"/>
          <mat-card-title style="margin-left: 15px;">{{property.title}}</mat-card-title>
          <mat-card-content>
            <p>{{property.description}}</p>
          </mat-card-content>
        </mat-card>
      </div> 
    </div>
  </div>