<app-navbar-component></app-navbar-component>
<div class = "sidebar">
    <div class="sidebar-header">
        <h4 style="margin-auto:10px 30px;">PMS</h4>
    </div>
    <div class="sidebar-menu">
        <li class="sidebar-item">
            <ul>
                <a routerLink="/properties" class="nav-link-option" routerLinkActive="active-link">Properties</a>
            </ul>
            <ul>
                <a routerLink="/owners" class="nav-link-option" routerLinkActive="active-link">Owners</a>
            </ul>
        </li>
    </div>
</div>